body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    line-height: 1.6;
}

header {
    background-color: #0073e6;
    color: white;
    text-align: center;
    padding: 20px 0;
}

main {
    padding: 20px;
}


.karty {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.karta {
    background-color: #e6f7ff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    padding: 15px;
}

.karta img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px 10px 0 0;
}

.karta h2 {
    margin: 15px 0 10px;
}

.karta p {
    margin: 0;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #0073e6;
    color: white;
}


@media (max-width: 768px) {
    .karta {
        width: 100%;
    }
}